@charset "utf-8";

/*
 Versão das midias 
*/

/*
  Typical Device Breakpoints
------------------------------
  pequenas telas: até 600px
  celuar : 600px até 768px
  Tablet: 768 até 992px
  Desktop: 992px até 1200px
  Grandes telas: acima de 1200px  
*/

@media print {

}
@media screen and (min-width:768px) and (max-width: 992px) { /* Tablet*/
    body{
        background-image: url();
    }
}

@media screen and (min-width: 992px ) and (max-width:1200px){
 /*Desktop*/
} 
@media screen and (min-width:1200px) {
 /*Tela Grandes*/
}